body{

margin:0;
font-family:Arial;
background:#111827;
color:white;

}


.crm{

display:flex;
height:100vh;

}


.sidebar{

width:220px;
background:#020617;
padding:20px;

}


.sidebar button{

display:block;
width:100%;
margin:10px 0;
padding:10px;

}


.content{

padding:30px;
flex:1;

}


table{

width:100%;
margin-top:20px;
background:#1e293b;

}


td,th{

padding:10px;
border-bottom:1px solid #334155;

}